{% extends 'base.html.twig' %}

{% block title %}Nouveau vidéo{% endblock %}

{% block body %}
    <h1>Créer Video</h1>

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('app_home') }}">retour à la liste</a>
{% endblock %}
